a {
    text-decoration: none;
    margin-right: 10px;
}
.meenos-nav {
    background-color: white !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.2);
    margin-bottom: 30px;
}
.navbar-title {
    height: 40px;
}
.navbar-logo {
    width: 40px;
    margin-left: 10px;
}
.btn-outline-success {
    color: var(--mn-red);
    border-color: var(--mn-red);
}
.btn-outline-success:hover {
    color: #fff;
    background-color: var(--mn-red);
    border-color: var(--mn-red);
}