:root {
    --mn-red: #C8071A;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--mn-red);
}
.container {
    background: white;
    height: 100vh;
    box-shadow: 0 0 120px rgba(0, 0, 0,0.4);
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
}